/.memsearch
.memsearch
.memsearch/
.memsearch/*
/harness/
/dist/harness/
/dist/app
/dist/chats
/dist/workspaces
.claude
.pi
.pi/
.pi/*
.worktrees
models/
/.venv
/.venv/
.pytest_cache/
__pycache__/
*.pyc
logs/
build/
build/*
build/pyinstaller/dataharness/Analysis-00.toc
build/pyinstaller/dataharness/base_library.zip
build/pyinstaller/dataharness/dataharness.pkg
build/pyinstaller/dataharness/EXE-00.toc
build/pyinstaller/dataharness/PKG-00.toc
build/pyinstaller/dataharness/PYZ-00.pyz
build/pyinstaller/dataharness/PYZ-00.toc
build/pyinstaller/dataharness/warn-dataharness.txt
build/pyinstaller/dataharness/xref-dataharness.html
.git.broken-*
